/* Custom Font */
@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.toast{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-secondary{
  border-radius: 10px;
}

.btn-secondary:focus{
  box-shadow: none;
}

.whatsapp-btn{
  background-color: #25D366;
}

.facebook-btn{
  background-color: #3b5998;
}

.program-transaction-btn{
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.program-transaction-btn:hover{
  filter: brightness(90%);
}

.transaction-wrapper{
  border-radius: 15px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

span{
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.w-80{
  width: 80%;
}

button:disabled{
  border: none;
  filter: contrast(30%);
}

.nav-link{
  padding: 0;
  height: 56px;
  line-height: 56px;
  color: #fff;
}

.nav-link:hover{
  background-color: #00B371;
  color: #fff;
}

.nav-link:focus{
  background-color: #00B371;
  color: #fff;
}

.form-row{
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.form-group{
  width: 100%
}

.form-control{
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.form-selection{
  width: 100%;
}

.form-selection:focus{
  border-color: #86b7fe;
}

.show-message{
  display: block;
}

.hide-message{
  display: none;
}

.Dropdown-control{
  border: none;
  padding-left: 0;
}

.Dropdown-menu{
  margin-top: 10px;
  margin-left: -10px;
  transition: all .3 ease-in-out;
}

.Dropdown-arrow{
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.is-open .Dropdown-arrow{
  transition: all .3s ease-in-out;
}

.form-control:focus {
  box-shadow: none;
}

.modal-content{
  border-radius: 15px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.report-card-content {
  border-left: 1px solid #000;
  padding: 5px 20px 10px 10px;
}

.point {
  width: 12px;
  height: 12px;
  position: relative;
  top: -13px;
  left: -17px;
  border-radius: 50%;
  background-color: #00a441;
}

.report-card-title {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.card-bottom-shadow {
  box-shadow:  0px 2px 5px -1px rgba(50, 50, 93, 0.25),
  0px 1px 3px -1px  rgba(0, 0, 0, 0.3);
}

.card-shadow-bold {
  box-shadow: 0 0 10px rgba(108, 108, 108, 0.3);
}

.card-shadow-around{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 25px 50px -20px, rgba(0, 0, 0, 0.3) 0px 20px 40px -30px;
}

.carousel .control-prev.control-arrow:before {
  border-right: 18px solid #000;
}

.carousel .control-next.control-arrow:before {
  border-left: 18px solid #000;
}

.carousel.carousel-slider .control-arrow:hover {
  background: none;
}

.carousel.carousel-slider .control-arrow {
  height: fit-content;
  margin: auto;
}

.carousel .carousel-status {
  display: none;
}

.nav-detail {
  background-color: #fff;
  color: #000;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 5px 0;
  transition: all 0.5s ease;
}

.nav-zakat-detail {
  background-color: #fff;
  color: #000;
  border: 1px solid #00a441;
  border-radius: 20px;
  padding: 5px 0;
  transition: all 0.5s ease;
}

.nav-detail:hover {
  background-color: #00a441;
  color: #fff;
}

.nav-zakat-detail:hover {
  background-color: #00a441;
  color: #fff;
}

.btn-active-borderless {
  background-color: #00a441;
  color: #fff;
}

.back-button {
  transform: rotateX(180deg);
}

.active-radio-btn{
  background-color: #00a441;
}

.inactive-radio-btn{
  background-color: transparent;
}

.auth-nav-wrapper{
  background-image: linear-gradient(to bottom right, rgba(0, 115, 72, 1), rgba(0, 164, 65, 1), rgba(0, 115, 72, 1));
}

.absolute-center{
  left: 50%;
  transform: translateX(-50%);
}

.active-auth-nav{
  background-color: #F7F8FB;
  color: #00a441;
  transition: all .3s ease;
}

.inactive-auth-nav{
  background-color: transparent;
  color: #fff;
}

.inactive-nominal{
  background-color: #00a441;
}

.active-nominal{
  background-color: #007348;
  transition: all .3s ease;
}